body { 
	background-color: #036;
	font-family: helvetica, sans serif;
	font-size: 14px;
}

a, a:visited {
	color: #fc0;
}

#container {
	position: relative;
	z-index: 2;
	top: 20px;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}

#text {
	width: 600px;
	padding: 20px;
	background: rgba(58, 102, 145, 0.8);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 1px 1px 4px black;
	box-shadow: 1px 1px 4px black;
	color: #fff;
}

h1 { color: #fc0; }

h2 { color: #F7DD74;}